@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Source+Sans+3&display=swap');

*{
    font-family: 'Source Sans 3', 'Noto Sans TC', sans-serif;
    letter-spacing: 2px;
    line-height: 1.7;
}
@media screen and (max-width:320px) {
  *{letter-spacing: 1px;}
}

a:link {
    color: black;
    text-decoration: none;
  }
  
  a:visited {
    color: black;
    text-decoration: none;
  }
  
* {--section-gap: 25px}