        footer{
            background-color: #FFF2DB;
            padding-top: 50px;
        }
        .footer-content {
            border-top: 3px solid #000;
        }
        footer .accordion {
            font-size: 16px;
            position: relative;
            padding: 12px 20px;
            border-bottom: 1px solid #6e6e6e;
            cursor: pointer;
        }
        footer .arrow-ttd{
            position: absolute;
            right: 20px;
            transition: transform 0.4s ease;
        }
        footer .arrow-ttd-rotated{
            top: 19px;
            transform: rotate(225deg)
        }

        footer h3, footer p{
            margin: 0;
            font-size: 16px;
        }
        .social-links-panel, .bottom-links-panel {
            margin: 0;
            padding-inline-start: 0;
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        .bottom-links-panel a{
            padding-top: 10px;
            padding-bottom: 10px;
            width: 100%;
        }
        .bottom-links-panel a:hover{
            color: #FFA96F;
        }
        footer li svg{
            width: 45px;
        }
        footer .panel {
            border-bottom: 1px solid #6e6e6e;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.4s ease;;
            padding: 0 10px;
        }

        @media screen and (min-width:1024px) {
            footer .accordion{ cursor: default;}
            footer .panel {
                border: none;
                max-height: fit-content;
                padding: 10px;
            }
            footer .arrow-ttd {display: none;}
        }