.nav_bar{
    background-color: #FFB84F;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.nav_bar .col-xl-1 {
    flex-grow: 1;
}

.nav_bar .row {
    position: relative;
}

.nav-logo-block a {
    max-width: 160px;
    margin-left: var(--column-gap);
    position: fixed;
}

.nav-logo-block a img{
    max-width: 100%;
}

.nav-small-block a {
    box-sizing: border-box;
    height: 80px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #6E6E6E;
}
.nav-small-block a:hover {
    background-color: #FFDD55;
    color: #6247E8;
}
.nav-small-block a:hover path {
    fill: #6247E8;
}

.nav-search {
    height: 80px;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: var(--column-gap);
    gap: var(--column-gap);
}

.btn-search {
    border: none;
    background-color: #00f0;
}

.btn-search:hover path {
    fill: #9747FF;
}

