* {--section-gap: 25px}

[class*="-heading"] {
    font-size: 36px;
    letter-spacing: 0.5em;
    text-align: center;
    position: relative;
    padding: 25px;
    border-bottom: 20px solid #E88847;
    margin-bottom: 50px;
}

[class*="-heading"]>h2 {
    margin: 0;
}

.read-more {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: var(--section-gap);
}

.new-products {
    background-color: #FFF2DB;
    padding-top: var(--section-gap);
    padding-bottom: var(--section-gap);
}

.hot-preorder {
    background-color: #FFF2DB;
    padding-top: var(--section-gap);
    padding-bottom: var(--section-gap);
}

.news {
    background: linear-gradient(180deg,
    rgba(255, 242, 219, 1) 0%,
    rgba(217, 217, 217, 0) 100%);
    padding-top: var(--section-gap);
    padding-bottom: var(--section-gap);
}

.news-item-img img {
    width: 100%;
    vertical-align: top;
    height: 56.25%;
    margin-bottom: var(--section-gap);
}

.news-item-text {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    padding-bottom: var(--section-gap);
}

.news-item-title {
    font: 32px "Inter-Regular", sans-serif;
    letter-spacing: 3px;
    margin: auto;
}

.news-item-title h3 {
    margin: 0;
}

.news-item-date {
    align-self: flex-end;
}

.story {
    background: linear-gradient(
0deg,
rgba(200, 103, 54, 1) 0%,
rgba(189, 73, 14, 0) 100%
);
    padding-bottom: 200px;
}

.story .story-img img {
    width: 100%;
    vertical-align: top;
}

.decoration-box {
    display: flex;
    justify-content: center;
}

.decoration-wire {
    width: 0;
    border: 1px solid #6e6e6e;
    height: 100%;
}

.story-text h3 {
    font-size: 32px;
}

.story-tex p {
    font-size: 18px;
}

footer {
    background-color: #C86736;

    padding-top: 0;
}