main {
    padding-top: 60px;
    background-color: #FFF2DB;
}
main h1 {
    width: 100%;
    font-size: 24px;
    text-align: center;
    border-bottom: 1px solid #6e6e6e;
    margin-top: 50px;
    margin-bottom: var(--section-gap);
    margin-left: 10px;
    margin-right: 10px;
}
main ul {
    list-style: none;
    padding-inline-start: 0;
    margin: 0;
}
#newsList{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 45px;
}
.news-box{
    padding: 0 10px;
}
.news-item {
    height: 100%;
    border: 1px solid #6e6e6e;
    transform: scale(1);
    transition: .6s;
}
.news-item:hover {
    transform: scale(1.1);
    transition: .6s;
}
.news-item a{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.news-item-img{
    aspect-ratio: 16/9;
    overflow: hidden;
}
.news-item-img img {
    aspect-ratio: 16/9;
    object-fit: cover;
    width: 100%;
}
.news-item-text {
    flex-grow: 1;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.news-item-text h3{
    font-size: 18px;
}
.news-item-date {
    text-align: right;
    font-size: 16px;
}
@media screen and (min-width:1024px) {
    main {
        padding-top: 80px;
    }
    main h1 {
        font-size: 36px;
    }
    
}