main {
    padding-top: 60px;
    background-color: #FFF2DB;
}
main h1 {
    width: 100%;
    font-size: 24px;
    text-align: center;
    border-bottom: 1px solid #6e6e6e;
    margin: 50px 10px 10px 10px;
}
.news-date {
    font-size: clamp(1rem, 3.5vw, 1.125rem);
    text-align: right;
}
.article-main-img img {
    margin: 30px 0;
    width: 100%;
}

.article-content p {
    margin: 0;
    font-size: clamp(1.125rem, 4vw, 1.25rem)
}
@media screen and (min-width:1024px) {
    main {
        padding-top: 165px;
    }
    main h1 {
        margin-top: var(--section-gap);
        font-size: 36px;
    }
}