* {--section-gap: 25px}

.fill-color-block{
    width: 100%;
    height: 160px;
    background-color: #FFF2DB;
}
.news-heading {
    letter-spacing: 0.5em;
    text-align: center;
    position: relative;
    padding: 25px;
    border-bottom: 2px solid #6e6e6e;
}

h1 {
    font-size: 64px;
    margin: 0;
}

.news-list{
    row-gap: 50px;
}

.news {
    background-color: #FFF2DB;
}

.news-item-img img {
    width: 100%;
    vertical-align: top;
    height: 56.25%;
}

.news-item-text {
    display: flex;
    flex-direction: column;
    margin: var(--column-gap) 0;
}

.news-item-title {
    letter-spacing: 3px;
    margin: auto;
}

.news-item-title h2 {
    margin: 0;
    font-size: 28px;
    font-weight: bold;
}

.news-item-date {
    align-self: flex-end;
}