* { --section-gap: 25px}

.fill-color-block {
    width: 100%;
    height: 160px;
    background-color: #FFF2DB;
}

.article-heading {
    letter-spacing: 0.5em;
    text-align: center;
    position: relative;
    padding: 25px;
    border-bottom: 2px solid #6e6e6e;
}

h1 {
    font-size: 64px;
    margin: 0;
}

[class*="article-"] {
    margin: var(--section-gap) 0;
}

.news-article {
    background-color: #FFF2DB;
}

.news-article .row {
    justify-content: space-around;
}

.article-date p {
    text-align: end;
    font-size: 18px;
    margin: 0;
}

img {
    width: 100%;
    vertical-align: top;
}

.article-content {
    font-size: 18px;
    line-height: 1.5;
}