main {
    padding-top: 60px;
    background-color: #FFF2DB;
}
main h1 {
    box-sizing: border-box;
    font-size: 24px;
    margin: 0;
    width: 100%;
}
.path-group{
    padding-inline-start: 0;
    list-style: none;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    margin: var(--column-gap) 0;
    position: relative;
}
.path-item:first-of-type{
    margin: 0 5px;
    position: relative;
    top: 2px;
}
.path-item:not(:first-of-type, :last-of-type)::after {
    content: '/';
    margin: 0 5px;
}
#largeImg {
    width: 100%;
    vertical-align: top;
}
.small-img-list{
    display: flex;
    padding: 20px 0;
}
.small-imgs {
    box-sizing: border-box;
    border: 1px solid #6e6e6e;
    width: 25%;
    margin: 0 5px;
    vertical-align: top;
    object-fit: contain;
    overflow: hidden;
    aspect-ratio: 3/4;
}
.product-intro{
    display: flex;
    flex-wrap: wrap;
}
.product-features {
    margin: 20px 0;
    font-size: 18px;
    width: 100%;
}
.product-price{
    display: flex;
    align-items: center;
    font-size: 18px;
    padding: 0;
}
.product-price span {
    font-size: 32px;
    font-weight: bold;
    color: #bd0000;
    margin-left: 10px;
}
.product-description{
    margin: var(--section-gap) 0;
    padding-top: 10px;
    border-top: 1px solid #6e6e6e;
    border-bottom: 1px solid #6e6e6e;
    font-size: 18px;
}
.product-description img{
    width: 100%;
}
.product-description h2{
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}
.product-description p{
    margin: 10px 0;
}
@media screen and (min-width:768px){
    .product-price span {margin-left: 30px;}
    #qty {width: 140px;}
}
@media screen and (min-width:1024px) {
    main {
        padding-top: 165px;
        background-color: #FFF2DB;
    }
    main h1 {
        font-size: 32px;
    }
}