.product-card{
    position: relative;
    top: 0;
    right: 0;
    transition: .3s;
}
.product-card:hover {
    top: 5px;
    right: 5px;
    box-shadow: 10px -10px 5px 0px #E5BB7A;
    padding: 0;
}
.product-card-img{
    aspect-ratio: 1/1;
    overflow: hidden;
}
.product-card-img img{
    width: 100%;
    vertical-align: top;
    
}
@media screen and (min-width: 1024px) {
    .product-card-img{
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 133.33%; /* 4:3 aspect ratio */
        overflow: hidden;
    }
    .product-card-img img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.product-card .product-info{
    box-sizing: border-box;
    margin: 0;
    padding: 5px;
    border: 1px #6e6e6e solid;
    font-size: 16px;
    text-decoration: none;
}
.product-card .product-text{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
}
.product-card .sale-price {
    color: #bd0000;
    text-align: right;
    font-size: 18px;
}