* {--section-gap: 25px}
ul{
    padding: 0;
    margin: 0;
}

li{
    list-style: none;
}

h1{
    font-size: 36px
}


.fill-color-block {
    width: 100%;
    height: 80px;
    background-color: #FFF2DB;
}

.mini-banner img {
    height: 350PX;
    
    vertical-align: top;
    width: 100%;
}

.product-list {
    background-color: #FFF2DB;
}


.product-list-heading{
    width: fit-content;
    display: flex;
    align-items: center;
    gap: var(--section-gap);
    border-bottom: 1px solid #6e6e6e;
}

.sidebar {
    margin-right: 10%;
    height: 100%;
    border-right: 1px solid #6e6e6e;
}

[class*="product-filter-"] {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: normal;
}

.list-row {
    row-gap: 80px;
}

.pagination {
    display: flex;
    font-size: 18px;
    justify-content: center;
    padding: var(--section-gap) 0;
}

.page-item {
    border: 1px solid #000;
    background-color: #E5BB7A;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0 2px 0 2px;
}
a {
    text-decoration: none;
}